<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Apple-Card Componente</title>
    <link rel="icon" href="/vite.svg" />
    <link rel="preload" as="font" href="/font/woff2/PretendardVariable.woff2" crossorigin="anonymous" /> 
    <link rel="stylesheet" as="style" href="/font/pretendardvariable.css"/>
        <script type="module" src="/src/main.js"></script>
  </head>
  <body class="font-sans">
    <article class="apple-card ipad-pro color-white">
      <h2 class="title">iPad Pro</h2>
      <p>
        <span class="sub-title">놀라우리만치 얇다.</span>
        <span class="sub-title">엄청나게 강력하다.</span>
      </p>
      <p class="date">출시일 추후 공개</p>
      <div class="flex gap-2 flex-row">
        <a href="#" class="btn btn-lf">더 알아보기</a>
        <a href="#" class="btn btn-r">가격보기</a>
      </div>
    </article>
      <hr />

        <article class="apple-card ipad-air color-black">
          <h2 class="title">iPad Pro</h2>
          <p>
            <span class="sub-title">놀라우리만치 얇다.</span>
            <span class="sub-title">엄청나게 강력하다.</span>
          </p>
          <p class="date">출시일 추후 공개</p>
          <div class="flex gap-2 flex-row">
            <a href="#" class="btn btn-lf">더 알아보기</a>
            <a href="#" class="btn btn-r">가격보기</a>
          </div>
        </article>

  </body>
</html> 